.profile{

    &__city {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 0;

        // dans la class enfant .profile__city--icon
        &--icon {
            // color: blue;
        }
        // dans la class enfant de .profile__city
        & .profile__links .profile__link--off {
            color: lightgray;
            cursor: default;
            pointer-events: none;
        }
    }
}
